

body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 75%;
    padding: 16px 50px 16px 50px;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    margin: 14px 0px;
	font-family: 'Montserrat', sans-serif;
    border: 1px solid #fff;
    background: transparent;
    letter-spacing: 1px;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius:5px;
	-o-border-radius: 5px;
}
#myModal{
	height: 600px;
	width: 500px;
margin-left: 450px;
}
.modal-content{
	background-color: none;
	background-image: url(../Image/nen3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
input[type="text"] {
    background:  rgba(0, 0, 0, 0.55) url(../Image/user.png) no-repeat 10px 10px;
}
input[type="password"] {
    background:  rgba(0, 0, 0, 0.55) url(../Image/lock.png) no-repeat 10px 10px;
}
input[type="submit"] {
    padding: 14px 30px;
    font-size: 1em;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius:30px;
	-o-border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #2dde98;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
	font-family: 'Montserrat', sans-serif;
    margin: 24px auto;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
input[type="submit"]:hover {
    background: #ff4f81;
    color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.w3layouts-main2 input[type="submit"] {
    margin: 27px auto 31px;
}
::-webkit-input-placeholder{
	color:rgba(255, 255, 255, 0.65);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.65); 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.65);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.65);  
}
/*--//placeholder-color--*/
/*-- //main --*/
