
body{
	font-family: 'Montserrat', sans-serif;
	margin:0;
	background: url(../Image/bg.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	background-position: center;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
p{
	padding: 0;
	margin: 0;
	color:#999;
}
/*-- main --*/
.main {
    position: relative;
	text-align: center;
}
.main-w3l {
    position: absolute;
    top: 5%;
	width: 60%;
    margin: 0 auto;
	left: 19%;
}
h1.logo-w3  {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
	text-align:center;
	margin: 5% 0;
	width: 100%;
}
.w3layouts-main h2 {
	color: #fff;
    font-size: 29px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 60px;
	text-align: center;
}
.w3layouts-main h2 span {
    padding: 0 1em;
}
.w3layouts-main{
    width: 40%;
    margin: 0 auto;
    background:rgba(0, 0, 0, 0.53);
	text-align: center;
}
.w3layouts-main{
	padding: 42px 35px 25px;
}
input[type="text"], input[type="text"], input[type="password"] {
    width: 75%;
    padding: 16px 50px 16px 50px;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    margin: 14px 0px;
	font-family: 'Montserrat', sans-serif;
    border: 1px solid #fff;
    background: transparent;
    letter-spacing: 1px;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius:5px;
	-o-border-radius: 5px;
}
input[type="text"] {
    background:  rgba(0, 0, 0, 0.55) url(../Image/user.png) no-repeat 10px 10px;
}
input[type="password"] {
    background:  rgba(0, 0, 0, 0.55) url(../Image/lock.png) no-repeat 10px 10px;
}
.w3layouts-main h6 {
    font-size: 16px;
	color: #fff;
    letter-spacing: 1px;
	margin-top: 8px;
	text-align: center;
	text-decoration:none;
}
.w3layouts-main h3 {
    font-size: 0.9em;
    color: #fff;
    margin-top: 3em;
	text-align: center;
}
.w3layouts-main a {
    color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="submit"] {
    padding: 14px 30px;
    font-size: 1em;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius:30px;
	-o-border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #2dde98;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
	font-family: 'Montserrat', sans-serif;
    margin: 24px auto;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
input[type="submit"]:hover {
    background: #ff4f81;
    color: #fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.w3layouts-main2 input[type="submit"] {
    margin: 27px auto 31px;
}
.social a {
    background: #3b5998;
    padding: 1em 4.68em;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius:30px;
	-o-border-radius: 30px;
}
.social a:hover {
    background: #2dde98;
    color: #fff;
}
/*--placeholder-color--*/

::-webkit-input-placeholder{
	color:rgba(255, 255, 255, 0.65);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.65); 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.65);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.65);  
}

#myImg{
	border-radius: 60px;
}